h2 {
    font-size: 20pt;
    text-shadow: 2px 2px white;
    text-decoration: underline;
}

.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#images {
    text-align: center;
}

#flex-y{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#grid-y {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
}

.grid {
    grid-column: 2/5;
}

.heading {
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    font-stretch: extra-expanded;
    color: white;
    text-decoration: overline;
}

.videos {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    max-width: 400px;
    min-width: 250px;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.6667%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .pics {
      display: flex;
      justify-content:space-between;
      align-items: center;
      margin-top: 30px;
  }

  .pics img {
      width: 200px;
  }